.sing {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
}

.sing .sing-title{
  flex-grow: 1;
}
.sing .sing-year{
  font-size: 30px;
  color: red;
}